.product-main-container {
  display: flex;
  /* height: 100vw; */
  width: 100vw;
  /* background-color: lightblue; */
}
.product-sidebar-container {
  /* height: 100%; */
  width: 20vw;
  /* background-color: aqua; */
}

.product-data-container {
  padding: 20px;
  /* height: 100%; */
  width: 80vw;
  /* background-color: aliceblue; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.product-sidebar-buttons-container {
  padding-top: 10px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.product-sidebar-buttons-container button {
  height: 20px;
  width: 150px;
}

.product-card-container {
  border-radius: 10px;
  background: linear-gradient(225deg, #beffb4, #a0e697);
  box-shadow: -9px 9px 5px #80b879, 9px -9px 5px #e4ffd7;
  height: 300px;
  width: 230px;
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card-image-container {
  height: 50%;
  width: 100%;
  /* background-color: lightcoral; */
  display: flex;
  justify-content: center;
}
.product-card-image-container img {
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
}

.product-card-title-container {
  margin-top: 10px;
  height: 50px;
  width: 90%;
  /* background-color: lightgoldenrodyellow; */
}

.product-card-price-container {
  margin-top: 10px;
  height: 20px;
  width: 80px;
  /* background-color: lightpink; */
  text-align: center;
}

.product-card-button-container {
  margin-top: 10px;
  height: 30px;
  width: 80px;
  /* background-color: lightblue; */
  text-align: center;
}
.product-card-button-container button {
  height: 30px;
  width: 80px;
  background-color: lightblue;
  text-align: center;
  border: none;
  border-radius: 10px;
}
/* 
.product-main-container{
  background-image: url('../../Assets/background.png');
  background-repeat: no-repeat;
  background-size: cover;
} */
