.navbar-return-order {
  height: 60px;
  width: 120px;
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-return-order a{
    color: white;
    text-decoration: none;
}

.navbar-return-order h4{
    font-weight: 100;
    font-size: 14px;
}

.navbar-return-order p{
    font-weight: 700;
    font-size: 15px;
}
